body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #3C4048;
  margin: 0;
}

.app-container {
  background: #B2B2B2;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  width: 700px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(6, 30px);
  gap: 10px;
  margin: 10px 0 20px;
  justify-content: center;
}

.color-swatch {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.color-swatch:hover {
  transform: scale(1.15);
}

.color-swatch.selected {
  transform: scale(1.2);
  border: 2px solid #3C4048;
}

.app-container input,
.app-container select,
.add-button {
  display: block;
  width: 20%;
  text-align: center;
  margin: 10px auto;
}


.monster-card {
  width: 180px;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 12px;
  color: #333;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  font-family: Arial;
  display: inline-block;
  text-align: center;
}

.delete-btn {
  display: block;
  margin: 10px auto 0;
}

